body {
  margin: 0;
}
#map {
  width: 100vw;
  height: 100vh;
}

.map-wrapper {
  position: relative;
}

#draggable {
  height: 100vh;
  width: 10px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 400;
  cursor: move;
  display: none;
}

#dragged-map {
  position: absolute !important;
  pointer-events: none;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

#toggle-draggable {
  position: fixed;
  top: 10px;
  left: 80px;
  z-index: 401;
}
